form p { line-height: 1.75em; }
.tacosButton {
    display: inline-block;
    font-family: Arial;
    position:relative;
}

.tacosButton.size {
    background-color: #dedede;
    font-weight: bold;
}


.decoButton{
    background-repeat: no-repeat;
    background-size: contain;

    background-position: center;

    /* Need to be absolute to keep the container the same size */
    position: absolute;
    transition-property: right, top, height, filter;
    filter: drop-shadow(0em 0em #0006);
    transition-duration: 200ms;
    right:0.1em;
}
.tacosButton > input:checked + label .decoButton {
    filter: drop-shadow(0.1em 0.1em #0006);
    transition-timing-function: cubic-bezier(.33,.71,0,3.2);
    transition-duration: 400ms;
}


.tacosButton > input {
    display: none;
}
.tacosButton > input + label{
    cursor: pointer;
}

.sauce > input:checked + label .decoButton {
    height: 0.8em;
    top: -0.2em;
}

.sauce .decoButton {
    background-image: url(disabled.svg);
    font-size: 2em;
    width: 1em;
    height: 0.6em;
    top: 0.07em;
}
.size > input:checked + label .decoButton {
    background-image: url(sizeEnabled.svg);
    height: 0.8em;
    top: -0.07em;
}
.size .decoButton {
    background-image: url(sizeDisabled.svg); 
    font-size: 2em;
    width: 1em;
    height: 0.6em;
    top: 0.08em;
}
.garnish > input:checked + label .decoButton {
    height: 0.8em;
    top: -0.07em;
}
.garnish .decoButton {
    background-image: url(garnishDisabled.svg); 
    font-size: 2em;
    width: 1em;
    height: 0.6em;
    top: 0.08em;
}
.meat > input:checked + label .decoButton {
    background-image: url(meatEnabled.svg);
    filter: none;
    height: 0.72em;
    top: -0.015em;
}
.meat .decoButton {
    background-image: url(meatDisabled.svg); 
    font-size: 2em;
    width: 1em;
    filter: none;
    height: 0.7em;

    top: -0.01em;
}
/* PC css*/
@media not all and (max-aspect-ratio: 4/5){
    .tacosButton{
        border-radius: 1em;
        filter: drop-shadow(0.1em 0.2em #0000004d);
        line-height: 19px;
        padding: 0.137em 2em 0.137em 0.7em;
    }
}
/* Phone css*/
@media all and (max-aspect-ratio: 4/5){
    * { box-sizing: border-box; }
    h1+p > img {
        display: none;
    }
     h1+p > img:first-child {
        display: inherit;
         width : 100%;
    }
    form p:not(:first-child){
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }
    form p:not(:first-child) span{
        font-size: 0.6em;
    }
    form { font-size: 4em; }
    form p { margin: .75em 0; }
    .decoButton{
        transform: translateY(0.2em) scale(1.3);
    }
    .size .decoButton { top: .2em; }
    .size > input:checked + label .decoButton { top: .05em; }
    .meat .decoButton { top: .12em; }
    .meat > input:checked + label .decoButton { top: .115em; }
    .garnish .decoButton { top: .14em; }
    .garnish > input:checked + label .decoButton { top: 0; }
    .sauce .decoButton { top: .22em; }
    .sauce > input:checked + label .decoButton { top: .05em; right: .2em; }
    h2{
        font-size: 4em;
        font-family: Arial;
    }
    input[type="submit"],[type="text"]{
        font-size: 1em;
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
    }
     .tacosButton{
        margin-top: 0.1em;
        
        height: auto;
    }
    .tacosButton > label{
        padding: 0 0 0 0.5em;
        width: 100%;
        display: block;
    }
}
.meat.tacosButton.meat { background-color: #ffa7a7; }
.garnish.tacosButton.garnish { background-color: #c5e9ba; }
.sauce.tacosButton.sauce { background-color: #f3df98; }
